body {
    background-color: #ccc;
}

label {
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    margin-top: 10px;
}

#canvas {
    width: 900px;
    height: 650px;
    background-color: #e5e5e5;
    border: lightgrey 1px solid;
    border-radius: 30px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    margin: 30px auto auto;
    text-align: center;
}

.element {
    border: 1px solid #e5e5e5;
    border-width: 0 1px 1px 0;
    width: 9px;
    height: 9px;
    float: left;
}

#gridCanvas {
    width: 800px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-width: 1px 0 0 1px;
    margin: 30px auto auto;
}

#palette {
    margin: 10px 50px;
}
.colorField {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.colorField:last-child {
    margin-right: 0;
}


input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

#currentColor {
    display: inline-block;
    width: 50px;
    height: 30px;
}